
html {
    height: 100vh;
}
.index{
    overflow:hidden;
}

.scroll_de_tarif{
    overflow: auto;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #202020 ;
}

.background_tarif{
    background-color: rgba(19, 138, 230, 0.566);
}


a.navbar-brand {
    color: #a0e7ff;
}

a:hover.navbar-brand {
    color: #a0e7ff;
    
}

a.nav-link {
    color: #a0e7ff;
    padding: 2px;
}

a.nav-link:hover {
    color: #1e6091;
    background-color: #8ecae6;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-5px);
}

h1,h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0.4em 0;
    color: #8ecae6;
    top: -700px !important;
    position: relative;
}

h1 { 
    font-size: 3.5em; 
}

h2 {
    color: #8ecae6;
    font-size: 2em;
}

.navbar{
    /*   z-index should be above .close-navbar-toggler */
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    z-index:2;  
}

.nav-bar{

}

.close-navbar-toggler{     
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
}

.close-navbar-toggler.collapsed{
    z-index:-1;
}

    
.card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    transition: all linear 200ms;
}
.card:hover {
    transform: translateY(-20px);
}    
.button{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

#canvas {
    position: relative !important;
    left: 500px !important;
}

.nav-bar {
    opacity: 1;
}

.maintitle {
    position: relative;
    padding: 150px;
    margin: 40px;
}


.card-img-top{
    height: 220px;
}

services container {
    text-align: center;
    background-color:whitesmoke;
    .row
}