*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}
/* MISE EN FORME DE LA PAGE INDEX */
.index{
    overflow:hidden;
}
/* SCROLL DE LA PAGE TARIF ET SERVICES À METTRE JUSTE APRES LE BODY */
.scroll{
    overflow: auto;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #202020 ;
}

a.navbar-brand {
    color: #a0e7ff;
}

a:hover.navbar-brand {
    color: #a0e7ff;
    
}

a.nav-link {
    color: #a0e7ff;
    padding: 2px;
}

a.nav-link:hover {
    color: #1e6091;
    background-color: #8ecae6;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-5px);
}

.index h1,h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0.4em 0;
    color: #8ecae6;
    top: -700px !important;
    position: relative;
}

h1 { 
    font-size: 3.5em; 
}

h2 {
    color: #8ecae6;
    font-size: 2em;
}

.navbar{
    /*   z-index should be above .close-navbar-toggler */
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
    z-index:2;  
}


.close-navbar-toggler{     
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
}

.close-navbar-toggler.collapsed{
    z-index:-1;
}

    
.card{
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    transition: all linear 400ms;
}
.card:hover {
    transform: translateY(-30px);
    box-shadow: 0 0 3em rgb(255, 255, 255);
}    

.button{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

canvas{
    position: relative !important;
    left: -450px !important;
}

.nav-bar {
    opacity: 1;
}
/* ECRITURE ANIMÉE DE LA PAGE INDEX */
#maintitle {
    position: relative;
    padding: 150px;
    margin: 40px;
}
/* MISE EN FORME DES PHOTOS DES CARDS PAGES TARIFS */
.card-img-top{
    height: 220px;
}
/* BACKGROUND DE TOUTE LES PAGES */
.background_tarif{
    background-image: linear-gradient(to right, #3262a8 0%, #44c0e2db 30%,#44c0e2db 70%, #409cd4c9 100%); 
}
/* LA PAGE SERVICES EN GÉNÉRALE */
.page_services h1 {
    text-align: center;
    font-size: 60px;
    color:#3262a8d6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 0 20px 0;
}
/* TITRE DES DIFFERENTS SERVICES */
.page_services .sous-titre {
    text-align: center;
    font-size: 45px;
    color: #3262a8d6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* LA PAGE TARIF EN GÉNÉRALE */
.page_tarif h1{
    text-align: center;
    font-size: 60px;
    color:  #3261a8d6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 0 0 0;
}

/* BANNIERE COOKIE */
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}

/* PAGE SERVICES POUR TRES GRAND ECRAN */
@media(min-width: 1920px) and (max-width: 5000px)
{
    .grid-image{
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0;
    }
    .first_p{
        padding: 0 150px;
        text-align: justify;
        font-size: 20px;
    }
    .grille{
        width: 90%;
        height: auto;
        margin: 30px auto 0 auto;
        padding:0 0 30px 0;
        display: flex; 
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
        flex-wrap: wrap;
    }
    .grid-item{
        width: 350px;
        height: 520px;
        background: rgb(194, 194, 194);
        border-radius: 10px;
        transition: all 1s ease;
        transform: scale(1.00);
        padding: 15px;
        margin: 5px;
        align-items: center;
    }
    
    .grid-item:hover{
        width: 350px;
        height: 520px;
        background: rgb(194, 194, 194);
        border-radius: 10px;
        box-shadow: #202020;
        transform: scale(1.07);
        transition: all 1s ease; 
        box-shadow: 0em 0 3em rgb(255, 255, 255);
    }
    .grid-title{
        font-size: 25px;
        color: #1e6091;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 5px 0 5px 0;
    }
    /*  .grid-text{
        font-size: 20px;
        text-align: justify;
    } . */
}
/* PAGE SERVICES POUR GRAND ECRAN */
@media(min-width: 1400px) and (max-width: 1920px)
{
    .grid-image{
        width: 100%;
        height: 180px;
        border-radius: 5px 5px 0 0;
    }
    .first_p{
        padding: 0 90px;
        text-align: justify;
        font-size: 18px;
    }
    .grille{
        width: 90%;
        height: auto;
        margin: 30px auto 0 auto;
        padding:0 0 30px 0;
        display: flex; 
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
        flex-wrap: wrap;
    }
    .grid-item{
        width: 320px;
        height: auto;
        background: rgba(194, 194, 194, 0.744);
        border-radius: 10px;
        transition: all 1s ease;
        transform: scale(1.00);
        padding: 10px; 
        margin: 5px; 
        align-items: center;
    }
    
    .grid-item:hover{
        width: 320px;
        /* height: 480px; */ height: auto;
        background: rgb(194, 194, 194);
        border-radius: 10px;
        box-shadow: #202020;
        transform: scale(1.07);
        transition: all 1s ease; 
        box-shadow: 0em 0 3em rgb(255, 255, 255);
    }
    .grid-title{
        font-size: 25px;
        color: #1e6091;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .grid-text{
        font-size: 18px;
        /* text-align: justify;*/
    } 
}
/* PAGE SERVICES POUR TRES PETIT ECRAN */
@media(min-width: 310px) and (max-width: 700px)
{
    .grid-image{
        width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }
    .page_services h1 {
        text-align: center;
        font-size: 50px;
        color:#3262a8d6;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 50px 0 20px 0;
    }
    .page_services h1 {
        text-align: center;
        font-size: 50px;
        color:#3262a8d6;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 50px 0 20px 0;
    }
    .page_services .sous-titre {
        text-align: center;
        font-size: 35px;
        color: #3262a8d6;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    /* .grid-text{
        text-align: justify;
    } */
}
/* PAGE SERVICES POUR PETIT ECRAN */
@media(min-width: 310px) and (max-width: 1400px)
{
    .grid-image{
        width: 100%;
        height: 140px;
        border-radius: 5px 5px 0 0;
    }
    /* PREMIER PARAGRAPHE APRES LE TITRE */
    .first_p{
        padding: 0 60px;
        text-align: justify;
        font-size: medium;
    }
    .grille{
        max-width: 1400px;
        width: 90%;
        height: auto;
        margin: 30px auto 0 auto;
        padding:0 0 30px 0;
        display: flex; 
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
        flex-wrap: wrap;
    }
    /*MISE EN FORME DES GRID SEULEMENT*/
    .grid-item{
        width: 270px;
        /* height: 360px; */ height: auto;
        background: rgb(194, 194, 194);
        border-radius: 10px;
        transition: all 1s ease;
        transform: scale(1.00);
        padding: 15px;
        margin: 5px;
        align-items: center;
    }
    
    .grid-item:hover{
        width: 270px;
        /* height: 360px; */ height: auto;
        background: rgb(194, 194, 194);
        border-radius: 10px;
        box-shadow: #202020;
        transform: scale(1.07);
        transition: all 1s ease; 
        box-shadow: 0em 0 3em rgb(255, 255, 255);
    }
    
    .grid-title{
        font-size: 20px;
        color: #1e6091;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}   
@media(min-width: 310px) and (max-width: 375px){
    #nav-title{
        text-align: justify;
        font-size: 10px;
    }
}
/* BOUTTON QUI RENVOIE EN HAUT DE PAGE */
#btt{
    opacity:0;
    height: 60px;
    width: 60px;
    background: #a0e7ff;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    margin:10px;
    right:20px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.rdvbutton{
    opacity:0;
    height: 60px;
    width: 60px;
    background: #a0e7ff;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 50%;
    cursor: pointer;
    margin:10px;
    right:20px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

#icone{
    height: 50px;
}

/* LOGO DU NAVBAR*/
.logo{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

/* MODIF SINAI - RESPONSIVE IPHONE 11/12/13
 */
@media(min-width: 350px) and (max-width: 450px)
{
    canvas {
        position: relative !important;
        left: 0px !important;
    }

    #maintitle {
        font-size: xx-small;
        display: inline;
        position: relative;
        top: -50px;
        left: 0px;
    }
    .navbar-brand {
        font-size:x-small;
    }
    
}
/* FIN MODIF SINAI - RESPONSIVE IPHONE 11/12/13
 */


@media(min-width: 400px) and (max-width: 1920px)
{
.index {
    width: 100%;
    
    }
}


@media(min-width: 450px) and (max-width: 800px)
{
   canvas {
        position: relative !important;
        left: 0px !important;
    }

    #maintitle {
        font-size: smaller !important;
        display: inline;
        position: relative;
        top: -230px;
        left: 0px;
    }
    .navbar-brand {
        font-size:smaller;
    }
    
}




@media(min-width: 800px) and (max-width: 1920px)
{
   canvas {
        position: relative !important;
        left: 50px !important;
    }
    #maintitle {
        font-size: smaller;
        display: inline;
        position: relative;
        top: -100px;
        left: 50px;
    }
}
